

<div class="container mt-5">
    <h1 class="text-primary mb-4">Privacy Policy</h1>

    <p>We value your privacy at <strong>OnlineLibrarySystem</strong></p>
    <p>Questions? Email us at <strong>support@onlinelibrarysystem.com</strong></p>
</div>

<style>
    .container{
        max-width:500px;
        margin-top:30px;
        color:#333;
        font-family:'Segoe UI', Tahoma,Geneva,Verdana, sans-serif;
        line-height:1.6;
    }
</style>